<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dodaj</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
</head>
<body>

<header th:insert="navbar.html :: navbar"></header>

<div class="container">
    <form method="post" action="/addProducer" th:object="${producer}">
        Nazwa: <input class="form-control" type="text" th:field="*{name}"></br>
        Kraj pochodzenia: <input class="form-control" type="text" th:field="*{country}"></br>
        Data powstani: <input class="form-control" type="date" th:field="*{dateOfCreation}"></br>
        Link do logo: <input class="form-control" type="url" th:field="*{logoUrl}"></br>
        <input class="btn btn-primary" type="submit" value="Wyślij">
    </form>
</div>
</body>
</html>