<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dodaj</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
</head>
<body>

<form method="post" th:action="${mode == 'edit' ? '/editPhone' : '/addPhone'} " th:object="${smartphone}">

    <input type="hidden" th:field="*{id}"/>
    <input type="hidden" th:field="*{producer}">


    Producent
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Producent</label>
        <div class="col-sm-10">
            <select class="form-control" name="producerName" >
                <option selected th:value="${mode == 'edit' ? smartphone.producer.name : null}">Wybierz..</option>
                <option th:each="producer : ${producers}" th:value="${producer.name}" th:text="${producer.name}"></option>-->
            </select>
        </div>
    </div>


    Model: <input type="text" th:field="*{model}">
    </br>>RAM: <input type="number" th:field="*{ram}">
    </br>>Pamięć na pliki: <input type="number" th:field="*{storage}">
    </br>>Ilość sparatów z tyłu: <input type="number" th:field="*{rearCameras}">
    </br>Przekątna ekranu: <input type="number" step="0.01" th:field="*{screenSize}">
    </br>>Rozdzielczość głównego aparatu z tyłu<input type="number" th:field="*{mainRearCameraResolution}">
    </br>>Ilość aoaratów z przodu <input type="number" th:field="*{frontCameras}">
    </br>>Rozdzielczość głównego aparatu z przodu <input type="number" th:field="*{mainFrontCameraResolution}">
    </br>>Pojemność baterii: <input type="number" th:field="*{batteryCapacity}">
    </br>>Producent procesora <input type="text" th:field="*{processor}">
    </br>>Link do zdjęcia: <input type="url" th:field="*{imageUrl}">


    <input type="submit" value="Wyślij">
</form>


</body>
</html>