<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<title>Telefonia</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="/style.css"/>
</head>
<body>



<div class="form-row">
    <div class="col">
        <a href="/addProducer" class="btn btn-primary btn-lg btn-block">Dodaj producenta</a>
    </div>
    <div class="col">
        <a href="/addPhone" class="btn btn-primary btn-lg btn-block">Dodaj telefon</a>
    </div>
</div>

<img class="phoneImage" th:src="${phone.getImageUrl()}">



</body>
</html>